# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# Google OAuth credentials
google_credentials.json
credentials.json
token.json


# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db